body {
	font-family: sans-serif;
	background-image: url("../img/generator.jpg");
	text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#inputs {
	text-align: center;
    padding-top: 3%;
    color: whitesmoke;
}
#download {
	padding-bottom: 10%;
    color: whitesmoke;
}
#btndownload {
	background-color: #99ff99;
	color: #006600;
	text-decoration: blink;
	width: 120px;
	height: 30px;
}
#btngen {
	background-color: #ffff00;
	width: 120px;
	height: 30px;
    color: darkred;
}
footer {
	color: #cccccc;
	padding-top: 2%;
}
#separator {
	background-color: #cccccc;
	height: 1px;
	width: 100%;

}
#header {
background-color: white;
	padding: 3%;
    opacity: 0.2;
    color: black;
}
#code {
    padding: 3%;
    color: dimgrey;
}
input {
    color:  grey;
}